#root{
 background-color: pink;
  height: 100px;
  padding: 10px;
  color: #ffffff;
  display: inline-flex;
  width: 100%;


}
#tittle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;  
}

#torito{
  max-width: 70px;
  max-height: 70px;
  padding: 20px;
display: inline-block;
}


#linksHTML {
  float: right;
  width: 40%;


}


.btnLinkHTML{ 

text-decoration: none;
display: block;

  font-weight: 200;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  height: 50px;
  width: 450px;
  color: #ffffff;
  background-color: pink;
  border-radius: 3px;
}
.btnLinkHTML:hover {
  color: palevioletred;
  background-color: #ffffff;
  }
  