#root{
 background-color: pink;
  height: 100px;
  padding: 10px;
  color: #ffffff;
  display: inline-flex;


}
#tittle{
  text-align: inherit;
  font-family: Arial, Helvetica, sans-serif;
  position: inherit; 
  float: right;
}

#torito{
  max-width: 70px;
  max-height: 70px;
}
.btnLinkHTML{ 

text-decoration: none;
display: inline-block;
  padding: 100px;
  font-weight: 200;
  font-size: 20px;
  color: #ffffff;
  background-color: pink;
  border-radius: 3px;
}
.btnLinkHTML:hover {
  color: palevioletred;
  background-color: #ffffff;
  }
  